.DS_Store
documentation/assets/images/diagrams/.$VXLAN.drawio.bkp
fabric_vxlan/*
netbox/
.env
.venv
.python-version
containerlab/clab-vxlan_fabric
.vscode/settings.json
vxlan_automation.egg-info
__pycache__
containerlab/.fabric_vxlan.yml.bak
containerlab/network_images/*.tar.xz
